#Antecedentes,.proyect,#carousel,#Mision,body{
  background: black;
}
p{
  color:white;
}
a,li,h3,h6,h2{
  color: white;
}
footer{
  background: darkGray;
}
footer,.proyect button{
  background: gray;
}
#navbarNav a {
  color:white;
}
#nav {
  background: black;
}
