*{
  box-sizing: border-box;
}
#Antecedentes{
  display: inline-block;
  width: 100%;
  height: auto;
}
#Antecedentes h2{
  margin: 2% 4%;
}
#Antecedentes img{
  margin: 2% 4%;
  width: 90%;
  max-height: 320px
}
#Antecedentes p{
  margin: 5% 4%;
  width: 90%;
  text-align: justify;
}
#timeLine{
  display: none;
}
/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
  #Antecedentes h2{margin: 2% 5%;}
  #Antecedentes img{ margin: 2% 5%; width: 90%; max-height: 370px;}
  #Antecedentes p{margin: 4% 5%;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  #Antecedentes{ background: rgb(245, 245, 243);}
  #Antecedentes h2{margin: 3% 0%; text-align: center;}
  #Antecedentes img{ float: left; width: 45%; margin: 2% 3%;  max-height: 310px;}
  #Antecedentes p { display: initial; float: right; margin: 2% 5%; width:92%; font-size: 19px}
  #Antecedentes #firstP{
  float: right; margin: 3% 4% 0% 0%; width: 43%;
  min-height: 265px; font-size: 17px; max-height: 295px;
}
  #timeLine { display: initial; width: 90%;}
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
  #Antecedentes img{ max-height: 340px;}
  #Antecedentes p { margin: 2.5% 5%; font-size: 22px;}
  #Antecedentes #firstP{font-size: 20px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  #Antecedentes img{ max-height: 390px;}
  #Antecedentes p {  margin: 3% 5%; font-size: 25px;}
}
