
#ContactUs{
  margin: 2% 0;
  width: 100%;
  height: auto;
  background: rgb(245, 245, 243);
}
#ContactUs h2{
  text-align: center;
}
#ContactUs iframe{
  margin: 2% 5%;
  width: 90%;
}
#ContactUs form{
  margin: 2% 10%;
  width: 90%;
}
#ContactUsspan{
  margin: 4% 0% 0 17%;
  width: 90%;
  font-size: 22px;
}
#ContactUs input, #ContactUs select,
#ContactUs textarea, #ContactUs form button{
  display: block;
  margin: 4% 5%;
  width: 80%;
}
#ContactUs form select{
  background: white;
  height: 30px;
}
/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
