*{
  box-sizing: border-box;
}
footer{
  display: inline-block;
  margin-top: 4%;
  width: 100%;
  text-align: center;
}
footer a{
  text-decoration: none !important;
}
footer span{
  font-size: 3em;
}

footer {
  background: rgb(245, 245, 243);
}
/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
