*{
  box-sizing: border-box;
  font-family: "";
}
button{
  outline: none;
}
h1,h2,h3{
  font-weight: 600;
}
#Header{
  z-index: 1;
}
body{
  display: inline-block;
  width: 100%;
  height: auto;
}
#Header img{
  margin: 0%;
  padding: 0%;
  width: 55%;
}
#nav{
  padding: 2%;
}
#nav .button-container{
  float: left;
  width:40%;
  height: auto;
  text-align: center;
}

#nav-button{
  display: block;
  margin: 2% 0% 6%;
  margin-left: 25%;
  width: 50%;
}
#nav button{
  padding: 1.5% 2%;
  font-size: 16px;
  background: none;
  border-radius: 6px;
  border-style: groove;
}
#nav a{
 margin: 1% 0% 0%;
 padding: 1%;
 font-size: 18px;
 border: solid;
 text-align: center;
 border-radius: 6px;
 font-family: "Helvetica";
 font-weight: bold;
}
#nav a:hover{
  cursor:pointer;
}
#Header ol{
  margin: 0;
  padding: 0;
}
#Header li{
  font-size: 20px;
  margin-left: 2%;
  font-family: "Helvetica";
  font-weight: bold;
}
body{
  background: rgb(239,238, 236);
}
#nav button{
  color:gray;
  border-color: rgb(239,238, 236);
}
#nav a{
  border-color: rgb(239,238, 236);
  background: white;
}

/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
  #Header img{margin: 0 1%; width: 45%}
  #nav .button-container{ width: 50%;}
  #nav-button{margin-left: 50%; width: 30%; }
  #nav .button-container div{ margin-left: 45%; width: 40%;}
  #nav button{ font-size: 16px;}
  #navbar a{ margin: 1% 15% 0%; width: 70%;}
}

@media (min-width: 576px){
  #Header img{width: 40%}
  #nav .button-container{width: 55%;}
  #nav-button{float: right; margin:2% 2% 0;}
  #nav .button-container div{float: left; margin: 3% 0% 0% 0%; width: 60%;}
  #nav button{ width: 25%; margin:2%; font-size: 18px;}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  #Header img{ margin:0%; width: 20%;}
  #nav{padding: .5% 1% .5%}
  #nav .button-container{ margin:0; width:14%;}
  #nav-button{display: none;}
  #nav .button-container div { margin:0; width:100%;}
  #nav button{ width: 23%; margin:1%; font-size: 16px;}
  #navbar div{width: 100%; margin: 0; padding: 0;}
  #navbar a{
    margin: 0%; padding: 0 .5%;width: 25%; font-size: 16px; font-weight: 600;
    border:none; background:none !important;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
  #Header img{ width: 17%;}
  #nav a{width: 19%; font-size: 19px;}
  #nav button{ font-size: 16px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  #nav a{font-size: 21px;}
}
