*{
  box-sizing: border-box;
}
body{
  display: inline-block;
  width: 100%;
  height: auto;
  background: rgb(239,238, 236);
}
header img{
  width: 60%;
}
header a{
  color:black
}
header ol{
  display: inline-block;
  margin: 0;
  width: 100%;
}
header li{
  display: inline;
  margin: 1% 0;
}
/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
  header img{width: 40%}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  header img{ width: 17%;}
  #navbarNav{ width: 100%;}
  #navbarNav div{width: 100%;}
  header div a{ width: 20%; text-align: center; font-size: 17px; font-weight: 600;}
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
  header img{ width: 17%;}
  header div a{font-size: 19px;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  header div a{font-size: 21px;}
}
