#nav,#Records,#Proyects,#Proyects #carousel,#Mission,body{
  background: #282828;
}
#Proyects .proyect, #Header ol,footer{
  background: rgba(28,28,28,.9)
}

#nav a,p,a,li,h3,h6,h2{
  color: white;
}

 #Proyects .proyect button{
   background: none;
   border-style: groove;
   border-color: white;
   border-radius: 6px;
}

#nav button{
  color:white;
  background: #282828;
}
