
#Home div{
  display: inline-block;
  width: 100%;
  height: auto;
}
#Home h1, #Home #imgWelcome{
  display: none;
}
#Home h2{
  text-align: center;
}
#Home img{
  margin: 5%;
  width: 90%;
  border-radius: 3px;
}
#Home p{
  margin: 5%;
  width: 90%;
  text-align: justify;
}
/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
  #Home img { margin:2% 10%; width: 80%;}
  #Home p{ margin: 2.5% 5%;font-size: 20px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  #Home h1, #Home #imgWelcome{ display: initial; margin: 0; width:100%;}
  #Home img{ float:left; margin: 5% 0% 1% 4%; width: 45%;}
  #Home h2{ float: right; margin: 3% 11% 2% 0;}
  #Home p{ float: right; margin: 0 4%; width: 42%; font-size: 18px;}
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
  #Home h1{font-size: 25px; top: 40%;}
  #Home p{font-size: 23px;}
  #Home h2{margin: 5% 14% 2% 0;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  #Home h1{font-size: 28px; bottom: 33px;}
  #Home h2{margin: 7% 16% 2% 0;}
  #Home p{font-size: 24px;}
  #Home span + img{ max-height: 486px;}
}
@media (min-width: 1600px)
{
  #Home h2{margin: 7% 20% 2% 0;}
}
