*{
  box-sizing: border-box;
}
#Home div{
  display: inline-block;
  width: 100%;
  height: auto;
  background: yellow;
}
#Home h1, #Home #imgWelcome, #Home a{
  display: none;
}
#Home h2{
  text-align: center;
}
#Home img{
  margin: 5%;
  width: 90%;
}
#Home p{
  margin: 5%;
  width: 90%;
  text-align: justify;
}
#Home a {color: white;}
/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
  #Home img { margin:2% 10%; width: 80%;}
  #Home p{ margin: 2.5% 5%;font-size: 20px;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  #Home h1, #Home #imgWelcome{ display: initial; margin: 0; width:100%;}
  #Home h1{position:relative; left:8px; bottom: 25px; font-size: 17px; color:white;}
  #Home a{display: initial; position:relative; margin: 0% 1%; left:65%; top:160px;font-size: 17px;}
  #Home img{ float:left; margin: 10% 0% 0 4%; width: 45%;}
  #Home h2{ float: right; margin: 4% 8% 2% 0;}
  #Home p{ float: right; margin: 0 4%; width: 40%; font-size: 19px;}
  #Home #imgWelcome{max-height: 200px; }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
  #Home h1{font-size: 25px; bottom: 30px;}
  #Home a{margin: 0% 1%; left:70%; top:200px;}
  #Home #imgWelcome{max-height: 250px;}
  #Home p{ font-size: 26px; background: blue}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
  #Home h1{font-size: 28px; bottom: 33px;}
  #Home a{margin: 0% 1%; left:70%; top:230px; font-size: 22px;}
  #Home #imgWelcome{max-height: 290px;}
}
