*{
  box-sizing: border-box;
}
#Mision{
  display: inline-block;
}
#Mision h3{
  margin-left: 5%;
}
#Mision p{
  margin: 3% 5%;
  width: 90%;
  text-align: justify;
}
#Mision ul{
  margin: 3% 5%;
  width: 90%;
  text-align: justify;
}
#Mision li{
  width: 90%;
}

/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  #Mision p{ font-size: 18px;}
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
  #Mision .M, #Mision .VO h3{text-align: center;}
  #Mision .OE h3{padding-left:2%; }
  #Mision .M{width: 90%; margin:2% 5%; }
  #Mision .VO{float: left; margin: 1% 1% 1% 8%;  width: 37%; height: auto;}
  #Mision .OE{ display: inline-block; margin:2% 3%; width: 90%; height: auto;}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
