*{
  box-sizing: border-box;
}
#Mission{
  display: inline-block;
}
#Mission h3{
  margin-left: 5%;
}
#Mission p{
  margin: 3% 5%;
  width: 90%;
  text-align: justify;
}
#Mission ul{
  margin: 3% 5%;
  width: 90%;
  text-align: justify;
}
#Mission li{
  width: 90%;
}

/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px){
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){
  #Mission p{ font-size: 18px;}
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px)
{
  #Mission .mission h3, #Mission .vision h3, #Mission .objetives h3,
  #Mission .objetives-sp h3{margin:0%; width: 100%;text-align: center;}

  #Mission .mission{width: 90%; margin:2% 5%;}
  #Mission .vision, #Mission .objetives{float: left; margin: 1% 1% 1% 8%; width: 37%; height: auto;}
  #Mission .objetives-sp{ display: inline-block; margin:2% 5%;width: 90%; height: auto;}
  #Mission ul{margin: 0;width: 100%;}
  #Mission li{margin-top: 1.5%; margin-left: 25%; width: 50%;}

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px)
{
}
