img:hover{
  cursor: zoom-in;
}
#Header img, #Rewards img,#gallery img{
  cursor: default;
  pointer-events: none;
}
#zoom-modal img{
  cursor: pointer;
}
#zoom-modal .modal-header{
  height: 50px;
}
#zoom-modal .modal-header h1, #zoom-modal .modal-header button{
  line-height: 0;
}
#zoom-modal .modal-header h1{
  margin: 0%;
  margin-top: 1%;
  font-size: 30px;
}
#zoom-modal img{
  width: 100%;
}
