<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome link-->
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>

      <!-- css links -->
      <link rel="stylesheet" href="../../CSS/footer.css">

    <title></title>
  </head>
  <body>
    <footer aria-label="footer" role="contentinfo">
      <div class="socialNet-container">
        <span role="none" style="font-size: 2em; color: Mediumslateblue;">
          <i role="link" aria-aria-label="Social Network Facebook" class="fab fa-facebook"></i>
        </span>
        <span role="none" style="font-size: 2em; color: Tomato;">
          <i role="link" aria-aria-label="Social Network Instagram" class="fab fa-instagram"></i>
        </span>
      </div>
      <h6 role="banner">Universidad Autonoma de Baja California Sur | Carretera al sur Km 5.5, La Paz, B.C.S Mexico | Tel(+52)01 612 12 38800 </h6>
    </footer>
  </body>
</html>
