<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- FontAwesome link-->
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/master.css">
    <title></title>
  </head>
  <body>
    <footer aria-label="footer">
      <span style="font-size: 3em; color: Mediumslateblue;">
        <i class="fab fa-facebook"></i>
      </span>
      <h6 role="complementary">Universidad Autonoma de Baja California Sur | Carretera al sur Km 5.5, La Paz, B.C.S Mexico | Tel(+52)01 612 12 38800 </h6>
    </footer>
  </body>
</html>
