<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- css links -->
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/footer.css">
    <title></title>
  </head>
  <body>
    <footer aria-label="footer" role="contentinfo">
      <!-- Diseño de los iconos usando FontAwesome -->
      <h6 role="banner">Universidad Autonoma de Baja California Sur | Carretera al sur Km 5.5, La Paz, B.C.S Mexico | Tel(+52)01 612 12 38800 </h6>
    </footer>
  </body>
</html>
