<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <!-- Boostrap CSS Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css links -->
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/footer.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/header.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/antecedentes.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/proyectos.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/mision.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/altoContraste.css">

    <!-- JQ Script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title></title>

  </head>
  <header>
    <!--NAVBAR-->
    <nav id="nav" class="navbar navbar-expand-md navbar-light bg-dark" aria-label="Main Navegation" role="menubar">
      <!--LOGO-->
      <img class="navbar-brand" src="/proyectos/GIDTIITEC/Sources/Img/gidtiitec.png" role="banner" aria-label="GIDTIITEC Logo">
      <!-- START SPEECH BUTTON -->
      </button>
      <button class="fas fa-play" class="btn btn-sm btn-outline-secondary" type="button" onclick="startSpeech()">
      <!-- STOP SPEECH BUTTON -->
      <button class="fas fa-stop" class="btn btn-sm btn-outline-secondary" type="button" onclick="stopSpeech()"></button>
      <!-- HIGH CONTRAST BUTTON -->
      <button class="fas fa-adjust" class="btn btn-sm btn-outline-secondary" type="button" id="highContrast" onclick="highContrast()"></button>

      <!-- NAVBAR BUTTON -->
      <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" role="img" aria-label="icon navBar"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class=" navbar-nav" role="menu">
          <a id="a1" class=" nav-link" role="menuitem">Inicio</a>
          <a id="a2" class=" nav-link" role="menuitem">Antecedentes</a>
          <a id="a3" class=" nav-link" role="menuitem">Mision</a>
          <a id="a4" class=" nav-link" role="menuitem">Proyectos</a>
          <a id="a5" class=" nav-link" role="menuitem">Premios</a>
          <a id="a6" class=" nav-link" role="menuitem">Contactanos</a>
        </div>
      </div>
    </nav>
    <!--BREADCRUMBS-->
    <ol class="row" class="breadcrumb" role="breadcrumb">
      <li id="ba1" class="breadcrumb-item" aria-label="breadcrum item"><a>Inicio</a></li>
      <li id="ba2" class="breadcrumb-item" aria-label="breadcrum item" style="display: none" ><a>Antecedentes</a></li>
      <li id="ba3" class="breadcrumb-item" aria-label="breadcrum item" style="display: none" ><a>Mision</a></li>
      <li id="ba4" class="breadcrumb-item" aria-label="breadcrum item" style="display: none" ><a>Proyectos</a></li>
      <li id="ba5" class="breadcrumb-item" aria-label="breadcrum item" style="display: none" ><a>Premios y Reconocimientos</a></li>
      <li id="ba6" class="breadcrumb-item" aria-label="breadcrum item" style="display: none" ><a>Contactanos</a></li>
    </ol>
  </header>
