<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Boostrap CSS Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- css links -->
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/header.css">
    <title></title>
  </head>
  <body>
    <header>
      <!--NAVBAR-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Main Navegation" role="menubar">
        <!--LOGO-->
        <img class="navbar-brand" src="/proyectos/GIDTIITEC/Sources/Img/gidtiitec.png" role="banner" aria-label="GIDTIITEC Logo">
        <!--BUTTON NAVBAR-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" role="img" aria-label="icon navBar"></span>
        </button>
        <ul class="navbar-nav" id="navbarNav" role="menu">
          <li class="nav-item active" role="none">
            <a class="nav-link" role="menuitem" href="/proyectos/GIDTIITEC/Public/index.php">INICIO</a>
          </li>
          <li class="nav-item" role="none">
            <a class="nav-link" role="menuitem" href="/proyectos/GIDTIITEC/Public/index.php/Antecedentes.php">ANTECEDENTES</a>
          </li>
          <li class="nav-item" role="none">
            <a class="nav-link" role="menuitem" href="/proyectos/GIDTIITEC/Public/index.php/Mision.php">MISION,VISION Y OBJETIVOS</a>
          </li>
          <li class="nav-item" role="none">
            <a class="nav-link" role="menuitem" href="/proyectos/GIDTIITEC/Public/index.php/Proyectos.php">PROYECTOS</a>
          </li>
          <li class="nav-item" role="none">
            <a class="nav-link" role="menuitem" href="/proyectos/GIDTIITEC/Public/index.php/Premios.php">PREMIOS Y RECONOCMIENTOS</a>
          </li>
          <li class="nav-item" role="none">
            <a class="nav-link" role="menuitem" href="/proyectos/GIDTIITEC/Public/index.php/Contactanos.php">CONTACTANOS</a>
          </li>
        </ul>
      </nav>
      <!--BREADCRUMBS-->
      <ol class="breadcrumb" role="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/proyectos/GIDTIITEC/Public/index.php">INICIO</a></li>
        <li class="breadcrumb-item" aria-label="breadcrum item"><a href="/proyectos/GIDTIITEC/Public/index.php/Antecedentes.php">ANTECEDENTES</a></li>
        <li class="breadcrumb-item" aria-label="breadcrum item"><a href="/proyectos/GIDTIITEC/Public/index.php/Mision.php">MISION,VISION Y OBJETIVOS</a></li>
        <li class="breadcrumb-item" aria-label="breadcrum item"><a href="/proyectos/GIDTIITEC/Public/index.php/Proyectos.php">PROYECTOS</a></li>
        <li class="breadcrumb-item" aria-label="breadcrum item"><a href="/proyectos/GIDTIITEC/Public/index.php/Premios.php">PREMIOS Y RECONOCIMIENTOS</a></li>
        <li class="breadcrumb-item" aria-label="breadcrum item"><a href="/proyectos/GIDTIITEC/Public/index.php/Contactanos.php">CONTACTANOS</a></li>
      </ol>
    </header>

    <!--Boostrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
