<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <!-- Boostrap CSS Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- css links -->
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/footer.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/header.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/antecedentes.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/proyectos.css">
    <link rel="stylesheet" href="/proyectos/GIDTIITEC/Sources/CSS/mision.css">

    <!-- JQ Script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <title></title>

  </head>
  <header>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-light" aria-label="Main Navegation" role="menubar">
      <!--LOGO-->
      <img class="navbar-brand" src="/proyectos/GIDTIITEC/Sources/Img/gidtiitec.png" role="banner" aria-label="GIDTIITEC Logo">
      <!-- SPEECH BUTTON -->
      <button class="btn btn-sm btn-outline-secondary" type="button" id="button" onclick="startSpeech()">escuchar</button>
      <!-- HIGH CONTRAST  BUTTON -->
      <button class="btn btn-sm btn-outline-secondary" type="button" id="button" onclick="stopSpeech()">detener</button>

      <!-- NAVBAR BUTTON -->
      <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" role="img" aria-label="icon navBar"></span>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class=" navbar-nav" role="menu">
          <a class=" nav-link" role="menuitem">Inicio</a>
          <a class=" nav-link" role="menuitem">Antecedentes</a>
          <a class=" nav-link" role="menuitem">Mision</a>
          <a class=" nav-link" role="menuitem">Proyectos</a>
          <a class=" nav-link" role="menuitem">Premios</a>
          <a class=" nav-link" role="menuitem">Contactanos</a>
        </div>
      </div>
    </nav>
    <!--BREADCRUMBS-->
    <ol class="row" class="breadcrumb" role="breadcrumb">
      <li  class="breadcrumb-item"><a>Inicio</a></li>
      <li  class="breadcrumb-item" aria-label="breadcrum item"><a>Antecedentes</a></li>
      <li  class="breadcrumb-item" aria-label="breadcrum item"><a>Mision</a></li>
      <li class="breadcrumb-item" aria-label="breadcrum item"><a>Proyectos</a></li>
      <li class="breadcrumb-item" aria-label="breadcrum item"><a>PREMIOS Y RECONOCIMIENTOS</a></li>
      <li class="breadcrumb-item" aria-current="page" aria-label="breadcrum item"><a>CONTACTANOS</a></li>
    </ol>
  </header>
  <script type="text/javascript">


  </script>
